# 数据库相关配置
# 数据库密码
DB_PASSWORD="123456"
# Redis 密码
REDIS_PASSWORD="123456"
# 启用错误日志记录
ERROR_LOG_ENABLED=true

# 缓存相关配置
# 同步频率（单位：秒
# SYNC_FREQUENCY=60
# 批量更新启用
BATCH_UPDATE_ENABLED=true
# 加密密钥（使用 Redis 时必填）
CRYPTO_SECRET="random_crypto_secret"

# 流模式无响应超时时间，单位秒，如果出现空补全可以尝试改为更大值
# STREAMING_TIMEOUT=300

# 会话密钥
SESSION_SECRET="random_session_secret"

# 节点类型
# 如果是主节点则为master
# NODE_TYPE=master
